/* 
.rating_star {
    text-align: center;
}
.rating_star .rating-group {
    display: inline-flex;
}
.rating_star input {
    position: absolute;
    list-style-type: none;
}


.rating-group input {
    display: none;
}

.rating_star label {
    margin: 0;
    cursor: pointer;
    list-style-type: none;
}
.rating_star label svg {
    margin: 2px;
    height: 20px;
    width: 20px;
    fill: #BFE2FF;
    transition: fill 0.3s;
}
.rating_star input:checked ~ label svg {
    fill: #BFE2FF;
}
.rating_star .rating-group:hover label svg {
    fill: #FF9017;
}
.rating_star .rating-group input:hover ~ label svg {
    fill: #BFE2FF;
} */






.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 20px;
    width: 20px;
    fill: #FF9017;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #BFE2FF;
}
.full-stars .rating-group:hover label svg {
    fill: #FF9017;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #BFE2FF;
}