.aside_filters {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 29px;
    margin-left: 65px;
    border: 2px solid green;
}

.filter_header_container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}   

.single_filter_container {
    width: 100%;
}

.filtes_content_ul {
    list-style: none;
    padding: 0;
}

.filter_content {
    display: block;
}

.filter_content.showbrands {
    display: none;
}

