.extra_services {
    display: flex;
    justify-content: center;
    height: 256px;
    width: 100%;
    margin-top: 15px;

}

.extra_services .div_extra_services { 
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    width: 89%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.components {
    display: flex;
    flex-direction:row;
    width: 100%;
    gap: 42px;
}

.components .boxes1 {
    display: flex;
    background-image: url('../../../assets/pictures/box.png');
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items:flex-end;

    text-transform: capitalize;
    width: 23%;
    height: 202px;
    background-repeat: no-repeat;
}

.components .boxes2 {
    display: flex;
    background-image: url('../../../assets/pictures/colors.png');
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items:flex-end;

    text-transform: capitalize;
    width: 23%;
    height: 202px;
    background-repeat: no-repeat;
}

.components .boxes3 {
    display: flex;
    background-image: url('../../../assets/pictures/fly.png');
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items:flex-end;

    text-transform: capitalize;
    width: 23%;
    height: 202px;
    background-repeat: no-repeat;
}

.components .boxes4 {
    display: flex;
    background-image: url('../../../assets/pictures/human.png');
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items:flex-end;

    text-transform: capitalize;
    width: 23%;
    height: 202px;
    background-repeat: no-repeat;
}



.middle1 {
    height: 55px;
    width: 55px;
    border-radius:40px;
    background-color: #D1E7FF;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    margin-right: 25px;
    cursor:pointer;
    
}

.middle1 img {
    width: 24px;
    height: 24px;
}

.boxes1 :nth-child(2) {
 
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
}

.boxes1 :nth-child(2):hover{
    border-bottom: 1px solid #1C1C1C;
    cursor: pointer;
}

.middle2 {
    height: 55px;
    width: 55px;
    border-radius:40px;
    background-color: #D1E7FF;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    margin-right: 25px;
    cursor:pointer;
}

.middle2 img {
    width: 24px;
    height: 24px;
}

.boxes2 :nth-child(2) {
 
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
}

.boxes2 :nth-child(2):hover{
    border-bottom: 1px solid #1C1C1C;
    cursor: pointer;
}

.middle3 {
    height: 55px;
    width: 55px;
    border-radius:40px;
    background-color: #D1E7FF;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    margin-right: 25px;
    cursor:pointer;
}

.middle3 img {
    width: 24px;
    height: 24px;
}

.boxes3 :nth-child(2) {
 
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
}

.boxes3 :nth-child(2):hover{
    border-bottom: 1px solid #1C1C1C;
    cursor: pointer;
}

.middle4 {
    height: 55px;
    width: 55px;
    border-radius:40px;
    background-color: #D1E7FF;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    margin-right: 25px;
    cursor:pointer;
}

.middle4 img {
    width: 24px;
    height: 24px;
}

.boxes4 :nth-child(2) {
 
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
    /* text-decoration: underline; */
    cursor:pointer;
}

.boxes4 :nth-child(2):hover{
    border-bottom: 1px solid #1C1C1C;
    cursor: pointer;
}


@media (max-width:1060px) {
    .components span {
        display: none;
        
    }

    .components {
        display: flex;
        gap: 14px;
    }
}

@media (max-width:530px) {
    
    .components .boxes1{
        height: 119px;
    }
    .components .boxes2{
        height: 119px;
    }
    .components .boxes3{
        height: 119px;
    }
    .components .boxes4{
        height: 119px;
    }




    .middle1 {
        height: 45px;
        width: 45px;
        border-radius: 40px;
        background-color: #D1E7FF;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-right: 28px;
    }
    .middle2 {
        height: 45px;
        width: 45px;
        border-radius: 40px;
        background-color: #D1E7FF;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-right: 28px;
    }
    .middle3 {
        height: 45px;
        width: 45px;
        border-radius: 40px;
        background-color: #D1E7FF;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-right: 28px;
    }
    .middle4 {
        height: 45px;
        width: 45px;
        border-radius: 40px;
        background-color: #D1E7FF;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-right: 28px;
    }

}



