.full_item_container {
    border: 2px solid red;
    margin-top:29px;
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-right: auto;
    padding: 20px;
}

.summary_items {
    padding-left: 15px;

}

.selected_product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 62px;
    border-radius: 6px;
    gap: 10px;
    padding-right: 15px;
    margin-right: 10px;
    
}


.view_list_select {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;
    gap: 5px;
    margin-right: 5%;
    
}


.verify_input {
    margin-left: auto;
    margin-right: 20px;
}

.verify_input input {
    width: 15px;
    height: 15px;
}

.verify_only {
    padding-left: 5px;
}

.navigation_container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
}

@media screen and (max-width: 1350px) {
    .navigation_container {
        font-size: 0.85em;
        padding-left: 10px;
        padding-right: 10px;

    }
}

.filter_container {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    row-gap: 15px;
    min-width: 200px;
    width: 20%;
}
.filter_box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-top: 1px solid #DEE2E7;
    width: 100%;
}

.nav_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav_head span {
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}


.nav_head img.rotate {
    transform: rotate(180deg);
}


.filter_box ul li {
    display: flex;
    font-size: 1em;
    color: #505050;
    font-weight: 400;
    column-gap: 20px;
    list-style-type: none;
    cursor: pointer;
}


.nav_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
}

.nav_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.grid_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.nav_box_container {
    width: 100%;
    height: auto;
}

.nav_2 {
    display: flex;
    row-gap: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #DEE2E7;
    height: auto;
    border-radius: 6px;
    margin-top: 20px;
}

@media screen and (max-width: 950px) {
    .nav_box_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .nav_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        min-width: 190px;
        flex-wrap: wrap;
    }
    .nav_2 .prise_description .rating_box .order_info {
        /* display: none; */
    }
    .nav_2 .prise_description  .spans_cont {
        display: none;
    }
    .nav_2 .prise_description {
        padding: 0 0 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav_2 .favorite {
        /* display: none; */
        display: flex;
        margin-left: 50%;
    }
}
@media screen and (max-width: 800px) {
    .selected_product {
        display: flex;
        justify-content: center;
    }

    .nav_box_container {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .nav_2 .product_img1 {
        width: 15%;
        min-width: 90px;
        padding: 10px;
    }
    .nav_2 .product_img1 img{
        width: 75px;
        height: 75px;
    }
    .nav_2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-size: 0.85em;
    }
    .nav_2 .prise_description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 0 0 0 ;
        width: 200px;
    }
    .nav_1 {
        font-size: 0.85em;
    }
    .filter_container {
        display: none;
    }
    .nav_1 .grid_list input {
        display: none;
    }
    .nav_1 .grid_list span {
        display: none;
        
    }
    
}

@media (max-width:610px) {
    .nav_2 .order_info {
        display: none;
    }
}


.product_img1 {
    width: 18%;
    min-width: 183px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.product_img1 img {
    width: 170px;
    height: 170px;
}

.prise_description {
    width: 80%;
    padding: 15px;
}
.favorite {
    display: flex;
    justify-content: flex-end;
    width:80px ;
    padding-top: 30px;
    padding-right: 30px;
}

.favorite img {
    width: 40px;
    height: 40px;
}
.prise_description .span1 {
    font-size: 1em;
    font-weight: 500;
    color: #1C1C1C;
}
.span_box {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.new_prise {
    font-size: 1.25em;
    font-weight: 600;
}
.old_prise {
    font-size: 1em;
    color: #8B96A5;
    font-weight: 600;
}
.rating_box {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
}
.rating_star {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
}



.order_info {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.order_info img {
    width: 6px;
    height: 6px;
}

.order_span {
    font-size: 1em;
    color: #8B96A5;
    font-weight: 400;
}
.free_span {
    color: #00B517;
    font-size: 1em;
    font-weight: 400;
  
}
.lorem {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden; 
}
.view_detail {
    font-size: 1em;
    color: #0D6EFD;
    font-weight: 500;
    cursor: pointer;
}
.spans_cont {
    padding-top: 10px;
    row-gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter_box ul li,
.filter_box span,
.filter_box img,
.filter_box input,
.filter_box label {
    cursor: pointer;
}

.seeall {
    font-size: 1em;
    color: #0D6EFD;
    font-weight: 400;
}





